.box-navbar {
  z-index: 999;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  /* height: auto; */
  height: 85px;
  background-color: #252525;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
}

.wrapper {
  z-index: 999;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  border: 1px solid #2d2d2d;
  background-color: #252525;
  transition: all 0.3s linear;
}

.wrapper .inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .inner .box-logo {
  cursor: pointer;
  padding: 20px 40px;
  border-right: 1px solid #2d2d2d;
}

.box-logo img {
  width: 160px;
}

.inner .navs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner .navs li {
  list-style: none;
}

.navs li .nav-child {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 40px 15px;
  font-size: 14px;
  letter-spacing: 0.63px;
  position: relative;
}
// destination
///////////////////////
.dropdown {
  position: absolute;
  background-color: #252525;
  top: 90px;
  left: 0px;
  margin-left: 0px;
  margin-top: 0px;
  min-width: 10em;
  max-width: 20em;
  display: flex;
  display: none;
}

.nav-child:hover .dropdown {
  display: block;
}

.dropdown-left > li {
  display: inline-flex;
  align-items: center;
  justify-content: left;
  margin: 15px 60px 15px 10px;
  font-size: 16px;
  color: #fff;
  list-style: none;
  cursor: pointer;
}

//////////////////////////
// Activities
.dropdown-acti {
  position: absolute;
  top: 90%;
  left: 0;
  width: 150px;
  padding: 20px 0px;
  background-color: #252525;
  visibility: hidden;
  opacity: 0;
  backface-visibility: hidden;
  transform: rotateX(-100deg);
  transform-style: preserve-3d;
  transform-origin: top center;
  transition: transform 0.5s cubic-bezier(0.2, 0.37, 0.6, 1);
  left: -45vw !important;
  position: absolute;
  top: 90%;
  left: -50vw !important;
  width: 80vw !important;
  display: grid;
  grid-template-columns: auto auto auto;
}

.dropdown-acti > li {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 10px 20px;
  list-style: none;
}

.dropdown-acti > li > a {
  display: inline-block;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  text-decoration: none;
}

.drop-acti-img {
  width: 100%;
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-acti-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
}

.navs .box-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.cta {
  font-size: medium;
  display: flex;
  margin: 0px 0px;
  padding: 0px 25px;
  height: 100%;
  width: 100%;
  border-left: 1px solid #2d2d2d;
}
