.box-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
.box-cta .cta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px;
  padding: 0px 25px;
  width: 100%;
  height: 100%;
  border-left: 1px solid #2d2d2d;
}

.cta .icon {
  font-size: 16px;
}

//
