.wrap-activities {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-activiti {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 10px;
  text-align: center;
  color: #fff;
}

.card-activiti .image {
  font-size: 50px;
  transition: all 0.3s linear;
}

.card-activiti:hover .image {
  transform: translateY(-20px);
  transition: all 0.3s linear;
}

.card-activiti:nth-child(1) {
  background-color: #6b6957;
}

.card-activiti:nth-child(2) {
  background-color: #565335;
}

.card-activiti:nth-child(3) {
  background-color: #474d4b;
}

.card-activiti:nth-child(4) {
  background-color: #b0a377;
}

span {
  font-size: 40px;
  font-weight: 600;
  line-height: 70px;
}

h1 {
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
}
