.home-title {
  width: 100%;
  text-align: left;
  margin: 0px 0px 20px 0px;
}

.home-content .hiking-icon {
  color: #fff;
  font-size: 72px;
  margin: 0px 0px 20px 0px;
}

.home-title h1 {
  display: flex;
  text-transform: uppercase;
  color: #ada075;
  font-size: 58px;
  font-weight: 700;
}

.home-title h1 span {
  color: #fff;
  margin-left: 10px;
}
