.adventure-title {
  width: 100%;
  margin: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.adventure-title h1 {
  color: #474d4b;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 44px;
  margin: 0px 0px 10px;
  text-align: center;
  text-transform: uppercase;
}

.adventure-title p {
  color: #1f2933;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.8px;
  text-align: center;
}
