// infor-adven
.infor-adventure {
  background-color: #474d4c;
  border: 15px solid #5f6865;
  width: 100%;
  padding: 45px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.infor-adventure h1 {
  text-align: center;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 1.3px;
  line-height: 60px;
  color: #fff;
}

.infor-adventure span {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1.3px;
  line-height: 60px;
  color: #fff;
}
